:root {
    --clr-white: #fff;
    --clr-black: #000;
    --font-size:16px;
    --font-family: "Inter", "Arial", sans-serif;
    --font-weight:var(--font-weight);
    --bold:700;
    --transition-time: 0.3s;
    --background: linear-gradient(180deg, #CFDDE8 0%, #6591B8 100%);
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight:var(--font-weight);
    src:
        url('../fonts/inter-v12-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src:
        url('../fonts/inter-v12-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight:700;
    src:
        url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    background-image: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    padding-left: 0;
    list-style: none;
}

.btn {
    border: none;
    background-color: transparent;
    transition: all var(--transition-time) ease;
    -webkit-transition: all var(--transition-time) ease;
    -moz-transition: all var(--transition-time) ease;
    -ms-transition: all var(--transition-time) ease;
    -o-transition: all var(--transition-time) ease;
}

.d-flex {
    display: flex;
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.chat-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    margin-right: auto;
    margin-left: auto;
}

.chat-info {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 35px 32px;
    background-color: #6a96d8;
}

.chat-info-title {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--clr-white);
}

.chat-info-title::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--clr-white);
}

.close-btn {
    position: relative;
}

.close-btn::before,
.close-btn::after {
    content: "";
    display: block;
    width: 3px;
    height: 14px;
}

.close-btn::before {
    background-color: #b8caec;
    transform: rotate(135deg) translate(-50%, -50%);
    -webkit-transform: rotate(135deg) translate(-50%, -50%);
    -moz-transform: rotate(135deg) translate(-50%, -50%);
    -ms-transform: rotate(135deg) translate(-50%, -50%);
    -o-transform: rotate(135deg) translate(-50%, -50%);
}

.close-btn::after {
    background-color: #b8caec;
    transform: rotate(-135deg) translate(80%, 80%);
    -webkit-transform: rotate(-135deg) translate(80%, 80%);
    -moz-transform: rotate(-135deg) translate(80%, 80%);
    -ms-transform: rotate(-135deg) translate(80%, 80%);
    -o-transform: rotate(-135deg) translate(80%, 80%);
}

/* chat messages */
.chat-container {
    width: 100%;
    padding-block-end: 21px;
    background-color: var(--clr-white);
}

.chat-messages {
    position: relative;
    padding-inline: 39px;
    padding-top: 29px;
    width: 100%;
}

.chat-messages-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #d9d9d9;
    background-color: var(--clr-white);
    z-index: 1;
    margin-bottom: 30px;
}

.line {
    position: absolute;
    top: 7.5%;
    right: 32px;
    left: 32px;
    height: 2px;
    background-color: #d9d9d9;
}

.messages-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 2px solid #f2f2f2;

}

.messages-item {
    position: relative;
    margin-bottom: 32px;
    padding: 10px 16px;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: max-content;
}

.messages-item:last-child {
    margin-bottom: 0;
}

.messages-item.user-message {
    justify-self: flex-end;
    background-color: #e6edf6;
}

.messages-item.user-message .message-time {
    top: -20px;
    left: 0;
}

.messages-item:not(.user-message) .message-time {
    top: -20px;
    right: 0;
}

.messages-item:not(.user-message) {
    align-self: flex-end;
}

.blocked-message {
    background-color: #ffc2c1;
}

.blocked-message::before {
    display: none;
}

.messages-item::before {
    content: "";
    position: absolute;
    border-top: 14px solid transparent;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    top: 0;
}

.messages-item:not(.user-message)::before {
    right: -15px;
    border-top-color: #f2f2f2;
}

.messages-item.user-message::before {
    left: -15px;
    border-top-color: #e6edf6;
}

.message-info {
    margin: 0;
}

.message-time {
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.4;
}


.message-text {
    max-width: 328px;
    margin: 0;
    font-weight:var(--font-weight);
      
    line-height: 20px;
}


.send-message-wrapper {
    width: 100%;
    padding: 0 32px;
}

.message-form {
    display: flex;
    justify-content: space-between;
}

.form-input {
    outline-offset: 10px;
    border: none;
}

.form-input::placeholder {
    font-weight:var(--font-weight);
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.form-submit-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #6A96D8;
}